.header {
  padding: 30px 80px 40px;
  height: 800px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: auto;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  z-index: -1;
}

.header__title {
  margin-bottom: 28px;
  margin-top: 183px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  max-width: 729px;
}

.header__span-accent {
  display: block;
  color: #3f96f3;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 0;
}

.header__hours {
  display: flex;
  flex-direction: column;
}

.header__footer {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: flex-end;
}

.header__paragraph {
  color: #000000;
  margin: 0;

  font-style: normal;

  font-weight: 500;

  font-size: 20px;
}
